<div class="well">
    <small class="pull-right">Gateway: {{gatewayId}}</small>
    <h2>Required Actions</h2>
    <!--<div class="row">-->
        <!--<div class="col-md-10 col-md-offset-1">-->
            <!--<div class="row">-->
                <!--<hr class="div-bordered">-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="text-info">Gateway Timezone</div>-->
                <!--<div>Please enter the timezone:-->
                    <!--<select id="gwTimezone" ng-model="gwTimezone" >-->
                        <!--<option >America/Denver</option>-->
                    <!--</select>-->
                    <!--<label class="checkbox">-->
                        <!--<input type="checkbox" id="setDST" ng-model="setDST" value="false" /> Shift time for Daylight Savings.-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<hr class="div-bordered">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div ng-repeat="config in configurations" class="row">-->
        <!--<div class="col-md-10 col-md-offset-1">-->
            <!--<div class="row">-->
                <!--<div class="text-info">{{config.title}}</div>-->
                <!--<div>{{config.description}}</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<hr class="div-bordered">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>
                            <div class="text-info">Gateway Timezone</div>
                            <div>Please enter the timezone:
                                <select id="gwTimezone" ng-model="gwTimezone" >
                                    <option >America/Denver</option>
                                </select>
                                <label class="checkbox">
                                    <input type="checkbox" id="setDST" ng-model="setDST" value="false" /> Shift time for Daylight Savings.
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="config in configurations">
                        <td>
                            <div class="text-info">{{config.title}}</div>
                            <div>{{config.description}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ng-include="'/assets/commissioning/wizardNav.html'"></div>
        </div>
    </div>
</div>

