<div class="well">
    <small class="pull-right">Gateway: {{gatewayId}}</small>
    <h2>Gateway Commissioning Report</h2>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <hr class="div-bordered">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="config in configurations">
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td>
                            <div class="text-info">{{config.title}}</div>
                            <div>{{config.description}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="pager">
                <li class="next"><button id="Finish" class="btn btn-primary btn-small" ng-click="next();">Finish</button></li>
            </div>
        </div>
    </div>
</div>

